<section class="catalogo">
    <div class="lugares">
        <div class="card-lugar" *ngFor="let lugares of catalogoList">
            <div class="img-card-container">
            <img [src]="lugares.img" alt="">
            <!-- <img src="assets/imagenes/420jpeg.jpeg" alt=""> -->
            </div>
            <div class="info-lugar">
                <h3 class="title-card">{{lugares.nombre}}</h3>
                <p>{{lugares.descripcion}} </p>
                    <p>{{lugares.ubicacion}}</p>
                    <p>{{lugares.horario}}</p>
            </div>
        </div>



    </div>

</section>