<div class="all-container">
<section class="noticias-section" id="noticias">

  <h3>Lo que hay que saber</h3>
  <div>
    <div class="noticias-left" >
      <div class="noticia" *ngFor="let noticias of noticiasRender"  (click)="renderNoticia($event)">
        <h3 id={{noticias.id}}>
          {{noticias.titulo}}
        </h3>
        <div class="noticia-content">
          <img
            [src]="noticias.img"
            [alt]="noticias.id"
            width="200px"
          />
            <p>{{noticias.cuerpo}}</p>
            
          </div>
          <span>{{noticias.fecha_publi}} </span>
      </div>


    </div>
    <div class="noticias-right">
     
    
        <div class="noticiaB"  *ngFor="let noticias of noticiasList" id="{{noticias.id}}" (click)="renderNoticia($event)">
       
          <h3>{{noticias.titulo}}</h3>
          <p>{{noticias.resumen}}</p>
          <span>{{noticias.fecha_publi}} </span>

        </div>
      
      

 
    </div>
  </div>
  </section>
</div>