<div class="all-container">
<section id="" class="eventos">
    <h2>Próximos eventos</h2>
    <!-- <div class="slider-contenedor" (window:DOMContentLoaded)="initializeSlider()"> -->
      <div class="slider-contenedor" >

      <div class="contenido-slider" *ngFor="let fiesta of fiesta" >
        <section class="slider">
          <div class="text-slider">
            <h2>{{fiesta.nombre}} </h2>
            <h3>{{fiesta.fecha}} </h3>
            <p>
              {{fiesta.descripcion}}
            </p>
            <div class="buttoms-slider">
              <a href="#">Comprar entradas</a>
              <a href="#">Más información</a>
            </div>
          </div>
          <!-- <img src="./aseets/amigos.svg" alt="" width="300px"> -->
          <img [src]=fiesta.img alt="" class="img-slider" />
        </section>
      </div>
  
    </div>
  </section>
</div>