<header class="header">
    <div class="img-logo-header">
      <img
        src="assets/imagenes/montana.png"
        alt="montaña-logo"
        class="header-logo"
      />
    </div>
    <nav class="nav visibility" id="nav">
      <ul>
        <li><a href="#eventos">Eventos</a></li>
        <li><a href="#noticias">Noticias</a></li>
        <li><a href="#entrevistas">Entrevistas</a></li>
        <li><a href="#galeria">Galería</a></li>
        <li><a href="#directorio">Directorio</a></li>
      </ul>
    </nav>
    <button class="bars-nav" id="btn-nav" (click)="hacerVisible()">
      <i class="fa-solid fa-martini-glass"></i>
    </button>
  </header>